/* test du css enfin par fabrice gauglin*/
@font-face{
    font-family :'Shining Times';
    src url('ShiningTimes.ttf');
}
p
{
	color: blue;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 34; /* para a 34 pix*/
}
.introduction

{

    color: blue;

}
.salutations

{

    color: blue;
     font-size: large;
    /* rajout de font-size large */

}
/* rajout de * toutes les balisse il est appelle le selecteur universelle */
*
{
    color: yellow
    
}
/* un atribu = veleur soite une balise, un atttrbut et puis une valeur exate*/l'atribu 
a[title="Cliquez ici"]

{


}
