/* test du css enfin par fabrice gauglin*/

p
{
	color: blue;
}
.introduction

{

    color: blue;

}
.salutations

{

    color: blue;

}
/* rajout de * toutes les balisse il est appelle le selecteur universelle */
*
{
    color: yellow
    
}